button, 
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    position: relative;
}

legend {
    position: absolute;
    bottom: 0;
    right: 0;
}