@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    --div-padding: 50px 80px 80px 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    /* font-size: 22px; */
}

body {
    display: flex;
}

.left {
    background-image: url(aarn-giri-vOp4CRHGWbk-unsplash.jpg);
    width: 40vw;
    height: 100vh;
}

.banner {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    top: 17.5%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin: 10px;
    width: 150px;
}

.logo h1 {
    font-size: 160px;
    font-family: Norse-Bold;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.disclaimer, .cta {
    background-color: #f9fafb;
    height: 33vh;
    padding: var(--div-padding);
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.disclaimer h1 {
    width: 50ch;
    margin-top: 50px;
    font-size: 36px;
}

.form-section {
    background-color: #FFFFFF;
    height: 33vh;
    padding: var(--div-padding); 

    display: flex;
    flex-direction: column;
}

.form-section h1 {
    font-size: 50px;
    margin-bottom: 40px; 
}

form {
    display: flex;
    gap: 200px;

    flex-grow: 1;
}

form .col {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

form .form-row input {
    /* width: 500px;
    height: initial; */
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 24px;
    margin-bottom: 30px;
}

form .form-row label {
    width: 120px;
    font-size: 16px;
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold;
}

.cta button {
    font-size: 28px;
    font-weight: bold;
    background-color: #2D5621;
    color: white;

    padding: 15px 75px 15px 75px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.cta a {
    text-decoration: none;
}