* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.left {
    background-image: url(aarn-giri-vOp4CRHGWbk-unsplash.jpg);
    width: 40vw;
    height: 100vh;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    background-color: lightgrey;
    height: 25vh;
}

.form-section {
    background-color: grey;
    height: 50vh;
    padding: 50px 80px 80px 80px;

    display: flex;
    flex-direction: column;
}

.form-section h1 {
    font-size: 50px;
    margin-bottom: 30px; 
}

form {
    display: flex;
    gap: 200px;

    background-color: beige;
    flex-grow: 1;
}

form .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aqua;
}

form .form-row {
    /* margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap; */

    /* display: flex;
    flex-direction: column;
    margin-bottom: 50px; */
}

form .form-row input {
    /* width: 500px;
    height: initial; */
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    /* height: 80%; */
    padding: 7px;
    font-size: 14px;
}


    

form .form-row label {
    width: 120px;
}

.cta {
    background-color: lightgrey;
    height: 25vh;
}