* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    /* font-size: 22px; */
}

body {
    display: flex;
}

.left {
    background-image: url(aarn-giri-vOp4CRHGWbk-unsplash.jpg);
    width: 40vw;
    height: 100vh;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    background-color: #f9fafb;
    height: 33vh;
}

.form-section {
    background-color: #FFFFFF;
    height: 33vh;
    padding: 50px 80px 80px 80px;

    display: flex;
    flex-direction: column;
}

.form-section h1 {
    font-size: 50px;
    margin-bottom: 40px; 
}

form {
    display: flex;
    gap: 200px;

    flex-grow: 1;
}

form .col {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

form .form-row input {
    /* width: 500px;
    height: initial; */
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 24px;
    margin-bottom: 30px;
}

form .form-row label {
    width: 120px;
    font-size: 16px;
    text-transform: uppercase; 
    letter-spacing: 3px;
    font-weight: bold;
}

.cta {
    background-color: #f9fafb;
    height: 33vh;
}